<html>
  <head>
    <title>CS448B: Bayes Net for Non-domain Experts - Jesik Min</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/semantic.min.css') }}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
      <!-- Custom styles for left menu sidebar -->
      <link href="{{ url_for('static',filename='css/simple-sidebar.css') }}"  rel="stylesheet">

      <!-- Custom styles for right info panel -->
      <link href= "{{ url_for('static',filename='css/info-panel.css') }}" rel="stylesheet">

      <!-- jQuery first, then Popper.js, then Bootstrap JS, then D3 -->
      <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
      <script src="https://d3js.org/d3.v4.min.js"></script>

      <script type="text/javascript" src= "{{ url_for('static',filename='js/semantic.min.js') }}"></script>
      <!-- suggest script -->
      <script>
        function getConnectivity() {
          var connectivities = {};
          d3.selectAll("line").each(function() {
            var start = d3.select(this).attr('pie1');
            var end = d3.select(this).attr('pie2');
            if (!('"'+start+'"' in connectivities)) {
              connectivities['"'+start+'"'] = ['"'+end+'"'];
            } else {
              connectivities['"'+start+'"'].push('"'+end+'"');
            }
          });
          return connectivities;
        }
        function suggest() {
          var connectivities = getConnectivity();
          var answer = {};
          var lines = {{ lines|tojson }};
          for (var i = 0; i < lines.length; i++) {
            var elements= lines[i].split(",");
            var start = elements[0].trim();
            var end = elements[1].trim();
            if (!(start in answer)) {
              answer[start] = [end];
            } else {
              answer[start].push(end);
            }
          }
          var result = ["Looks good!"];
          for (var key in answer) {
            if (!(key in connectivities)) {
              result = [key, answer[key][0], "Add"];
              break;
            }
            var answerValues = new Set(answer[key]);
            var connectionValues = new Set(connectivities[key]);
            var difference = new Set([...answerValues].filter(x => !connectionValues.has(x)));
            if (difference.size > 0) {
              result = [key, difference.values().next().value, "Add"];
              break;
            }
            var difference2 = new Set([...connectionValues].filter(x => !answerValues.has(x)));
            if (difference2.size > 0) {
              result = [key, difference2.values().next().value, "Remove"];
              break;
            }
          }
          if (result.length == 3){
            $('#myModal .modal-body').text(result[2]+ " edge between " + result[0] + " and " + result[1]);
          } else{
            $('#myModal .modal-body').text(result[0]);
          }
          $('#myModal').modal('show');
        }
      </script>
      <script src="https://use.fontawesome.com/f976e61e24.js"></script>
  </head>

  <body>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Menu
                    </a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
              <div style="margin-left: 2%; margin-right:2%; margin_top:2%;">
                <div class="row">
                  <div class="col-lg card card-inverse" style="background-color: #333; border-color: #333; color: #ffffff; max-width: 100%">
                    <div class="card-body">
                      <span class="card-title"style="float: left;width: 10%;">
                          <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true" style=" font-size: 150%;"></i></a>
                      </span>
                      <span class="card-title"style="float: left; width: 80%; text-align: center; margin: auto;">
                        <a href="/" style="color: #ffffff;" >
                          <h1 style="font-size: 300%; margin-bottom: 1.5%;">Project: D3 BayesNet</h1>
                        </a>
                      </span>
                      <span class="card-title"style="float: right; width: 10%; text-align:right;">
                          <a href="/about" class="btn"><i class="fa fa-question-circle" aria-hidden="true" style='font-size: 250%;'></i></a>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row"  >
                  <div class="col card card-inverse" style="background-color: #333; border-color: #333; color: #ffffff;">
                    <div class="card-body">
                      <p>This is a lightweight application for visualizing Bayesian network powered by D3.</p>
                      <p>Not an expert to the dataset you have? Don't worry. <strong>D3 BayesNet</strong> will guide your way!</p>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>

            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <svg>
                    <defs>
                      <marker id="arrow" markerWidth="10" markerHeight="7"
                      refX="0" refY="3.5" orient="auto">
                        <polygon points="0 0, 10 3.5, 0 7" />
                      </marker>
                    </defs>
                  </svg>
                </div>
                <div class="col" style="height: 65%;">
                  <div class="row card-body" id="info-panel-title">
                    <h2>Info Panel</h2>
                  </div>
                  <div class="row" id="info-panel">
                    <div style="margin: 5%; text-align:left;">
                      <button onclick="add_edge()"type="button" class="btn btn-primary">Add Edge</button>
                      <button onclick="remove_edge()"type="button" class="btn btn-primary">Remove Edge</button>
                      <button onclick="deselect_all()"type="button" class="btn btn-primary">Deselect All</button>
                    </div>
                    <hr style="border-top: 1px solid #ffffff">
                    <div style="margin: 5%; text-align:left;">
                      <button id="suggestButton" onclick="suggest()"type="button" class="btn btn-primary">Smart Suggest</button>
                    </div>
                    <hr style="border-top: 1px solid #ffffff">
                    <div style="margin: 5%; text-align:left;">
                      <div>
                      Target Variables:<br>
                      <input type="text" name="target_variables" id="target_variables" style="color: black"><br>
                      Dependent Variables:<br>
                      <input type="text" name="dependent_variables" id="dependent_variables" style="color: black">
                      <a href="#" title="What should I enter?" data-toggle="popover"
                        data-trigger="focus" data-content="Enter variable names separated by comma. For instace,
                        if you want to see conditional probability distribution of age given fare and sex, type
                        'age' in 'Target Variables' and 'fare,sex' in 'Dependent Variables' (without quote).">
                        <i class="fa fa-question-circle" aria-hidden="true" style='font-size: 150%;'></i>
                      </a>
                      </div>
                      <br>
                      <button onclick="on()" type="button" class="btn btn-primary">Show Conditional Probabilities</button>
                      <div class="modal" tabindex="-1" role="dialog" id="myModal">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Smart Suggestion</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <hr style="border-top: 1px solid #ffffff">
                    <div style="margin: 5%; text-align:left;">
                      <div id="two_info_panel_table">
                        <h5 style="display: none;" id="prob_title"></h5>
                      </div>
                    </div>
                    <div id="info-panel-table" class="overlay"><p id="tabletitle">Conditional Probability Table</p></div>
                  </div>
                </div>
              </div>
            <div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

    <!-- popover -->
    <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
    </script>
    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
      });
    </script>

    <!-- D3 Script -->
    <script type="text/javascript" src= "{{ url_for('static',filename='js/custom_d3.js') }}"></script>
  </body>
</html>
